<script>
    function timer(n) {
        $(".progress-bar").css("width", n + "%");
        if (n < 33.2) {
            setTimeout(function() {
                timer(n + 3.33);
            }, 200);
        }
    }
    $(function() {
        $("#animer").click(function() {
            timer(0);
        });
    });
</script>
<div class="container">
    <h3>Responsive Web Design Quiz </h3>
    <div class="raw">
        <section>
            <steps on-finish="finished()">
                <!-- Steps 1 -->
                <div class="progress">
                    <div class="progress-bar progress-bar-success"></div>
                    <div class="progress-bar progress-bar-warning"></div>
                    <div class="progress-bar progress-bar-danger"></div>
                </div>
                <step class="email">
                    <b>Please write your e-mail here before starting the quiz.</b>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="haouari@th-brandenburg.de" aria-describedby="basic-addon2" ng-model="email">
                        <span class="input-group-addon" id="basic-addon2"> </span>
                    </div>
                    <br/>
                    <button class="btn btn-primary" step-next ng-disabled="!email.length" id="animer-3" value="Animer">Start the Quiz</button>
                </step>
                <!-- Steps 1 -->
                <step class="step1" name="first">
                    <button step-previous class="btn btn-primary" id="animer-1" value="Animer">Prev</button>
                    <button class="btn btn-primary" step-next ng-click="quizsumbit();addAlert()" id="animer-2" value="Animer">Next</button>
                    <h3>1. Bootstrap 3 is mobile-first</h3>
                    <input type="radio" ng-model="step.tValue" value="true" name="step1option" ng-click="clickstepbutton1()"> <b>Richtig</b> <br>
                    <input type="radio" ng-model="step.fValue" value="false" name="step2option" ng-click="clickstepbutton2()">
                    <b> Falsch</b> <br>
                </step>
                <!-- Steps 2 -->
                <step class="step2">
                    <button step-previous class="btn btn-primary" id="animer-4" value="Animer">Prev</button>
                    <button step-next class="btn btn-primary" ng-click="quizsumbit()" id="animer" value="Animer">Next</button>
                    <h3>Mit welchen Einheiten werden mit RWD gebaut </h3>
                    <div class="btn-group">
                        <input class="btn btn-primary" type="radio" ng-model="step1.tValue" value="true" ng-click="clickstep1button1()"> Pixel. <br>
                        <input class="btn btn-primary" type="radio" ng-model="step1.fValue" value="false" ng-click="clickstep1button2()"> Prozent <br>
                    </div>
                </step>
                <!-- Steps 3 -->
                <step class="step3">
                    <button step-previous class="btn btn-primary">Prev</button>
                    <button step-next class="btn btn-primary" ng-click="quizsumbit()">Next</button>
                    <h3>Fluid grid“ ist ein Begriff, der verwendet wird,um-------------zu beschreiben,</h3>
                    <input type="radio" autocomplete="off" ng-model="step2.tValue" value="true" ng-click="clickstep2button1()"> Ein Layout<br>
                    <input type="radio" autocomplete="off" ng-model="step2.fValue" value="false" ng-click="clickstep2button2()">Bilder und Text
                </step>
                <step class="step 4">
                    <button step-previous class="btn btn-primary">Prev</button>
                    <button step-next class="btn btn-primary" ng-click="quizsumbit()">Next</button>
                    <h3>Wo kann man Media Queries verwenden </h3>
                    <input type="radio" autocomplete="on" ng-model="step3.tValue" ng-click="clickstep3button1()" value="true">CSS-Dokument <br>
                    <input type="radio" autocomplete="on" ng-model="step3.fValue" value="false" ng-click="clickstep3button2()">HTML-Dokument<br>
                    <input type="radio" autocomplete="on" ng-model="step3.fValue1" value="false" ng-click="clickstep3button3()">JS-Dokument<br>
                </step>
                <step class="step5">
                    <button step-previous class="btn btn-primary">Prev</button>
                    <button step-next class="btn btn-primary" ng-click="quizsumbit()">Next</button>
                    <h3>„Responsive“ ist das Design einer Website, wenn ihre Seiten auf allen Browsern und auf allen Geräten optimal dargestellt werden.Optimal heisst :</h3>
                    <input type="radio" autocomplete="on" ng-model="step4.tValue" value="true" ng-click="clickstep4button1()">Das gleichermaßen auf dem kleinen Screen eines Smartphones, auf dem Laptop-Bildschirm und auf dem riesigen Desktop-Monitor.<br>
                    <input type="radio" autocomplete="on" ng-model="step4.fValue" value="false" ng-click="clickstep4button2()">inhalt der Seiten unterscheidet sich
                    <br>
                    <input type="radio" autocomplete="on" ng-model="step4.fValue1" value="false" ng-click="clickstep4button3()">Seiten antworten nicht<br>
                </step>
                <step name="6">
                    <button step-previous class="btn btn-primary">Prev</button>
                    <button step-next class="btn btn-primary" ng-click="quizsumbit()">Next</button>
                    <h3>Von Natur zur Web .. Ethan hat die idee des RWD von "_______________" genommen.
                    </h3>
                    <input type="radio" checked autocomplete="on" ng-model="step5.tValue" value="true" ng-click="clickstep5button1()">"responsive Architektur"
                    <br>
                    <input type="radio" autocomplete="on" ng-model="step5.fValue" value="false" ng-click="clickstep5button2()">"Bauwerk Architektur"
                    <br>
                    <input type="radio" autocomplete="on" ng-model="step5.fValue1" value="false" ng-click="clickstep5button3()">"Software Architektur"<br>
                </step>
                <step name="7">
                    <button step-previous class="btn btn-primary">Prev</button>
                    <button step-next class="btn btn-primary" ng-click="quizsumbit()">Next</button>
                    <h3>Welche Nachteile hat der RWD ? </h3>
                    <input type="radio" checked autocomplete="on" ng-model="step6.tValue" value="true" ng-click="clickstep6button1()">Langsamere Ladezeit
                    <br>
                    <input type="radio" autocomplete="on" ng-model="step6.fValue" value="false" ng-click="clickstep6button2()">Teuer
                    <br>
                    <input type="radio" autocomplete="on" ng-model="step6.fValue1" value="false" ng-click="clickstep6button3()">webseiten mit RWD laufen nur and ipads
                    <br>
                </step>
                <step class="step4" name="last">
                    <button step-previous class="btn btn-primary">Prev</button>
                    <button step-next class="btn btn-primary" ng-click="quizsumbit()">Next</button>
                    <div class="container">
                        <blockquote class="quote-box">
                            <p class="quotation-mark">
                                “
                            </p>
                            <p class="quote-text">
                                Do you understand the Responsive web design theme : ?
                            </p>
                            <hr>
                            <div class="blog-post-actions">
                                <p class="blog-post-bottom pull-left">
                                    Realy </p>
                                <p class="blog-post-bottom pull-right">
                                    <button type="button" class="blog-post-bottom pull-right" data-toggle="modal" data-target=".bs-example-modal-lg" ng-click="final()">Click here to get to Result.</button>

                                </p>
                            </div>
                        </blockquote>
                    </div>
                    <h1 style="color: red"><b> {{prozent| number:0}}  </b></h1>

                    <img width="170" height="170" class="book" src="http://technologie.ngo.pl/files/wiadomosci.ngo.pl/public/filespublic/2014/20140609120000_Responsive_Web_Design_Logo.svg.jpg" />
                    <img width="170" height="170" class="book" src="http://www.zahnarztpraxis-ammerland.de/box/images/006.jpg" />
                </step>
            </steps>
        </section>
    </div>
</div>